input{
	padding-top: 50%;
	/*圓角*/
	/* border-radius : 10px; */
	/*加陰影*/
    box-shadow: 0 0 10px rgba(0,0,0,1.00);
    text-align:center;

}


.btn-outline-warning:hover {
  color: white;
}
.bar-right{
	margin-top: 9%;
	margin-left: 10px;
	float: right;
}

.bi-stack{
	font-size: small;
	width:10px;
	height:10px;

}
.label{
	display: block;
	width: 10px;
	height:50px;
	margin-top: 10px;
}

.radius-block{
	
	height: 200px;
	border-radius : 10px;
     /*圓角*/
	
    box-shadow: 0 0 10px rgba(0,0,0,1.00);
     /*加陰影*/
}

.search-box{
	max-width: 516px;
}

.btn-group{
	right: 305px;
	top: 129px;
}

.type1{
	left: 508px;
	top: 172px;
}

.img4{
	position: absolute;
	left: 42px;
	top: 541px;
}

.jobtitle{
	color: black;
	text-decoration:none;
}